/*.video {
    display: flex;
    justify-content: flex-end;
    padding: 5em 2em 3em 0em;

}*/
h1 {
    font-size: 3em;
    letter-spacing: 1em;
    font-family: 'Comfortaa', cursive;
}
.navbar {
    background-color: #610A0D;
}
.description {
    padding-top: 5em;
    color: white;
}
p {
    color: white;
    padding-left: 5em;
}
ul {
    padding-left: 10em;
}
