.video {
    display: flex;
    justify-content: center;
    padding-top: 10em;
}
h1 {
    font-size: 3em;
    letter-spacing: 1em;
    font-family: 'Comfortaa', cursive;
}
.navbar {
    background-color: #610A0D;
}
